<footer class="">
  <hr />
  <div class="container">
    <div class="footer">
      <div class="footer-logo">
        <strong class="logo-bold">LLOYD</strong
        ><span class="logo-green">JEFFERSON</span
        ><span class="logo-dot">.</span>
      </div>

      <ul class="footer-social">
        <li><a href="https://www.instagram.com/goitclub/">Instagram</a></li>
        <li><a href="https://www.facebook.com/goITclub/">Facebook</a></li>
        <li>
          <a href="https://www.linkedin.com/school/goit-start-your-career-in-it"
            >Linkedin</a
          >
        </li>
        <li>
          <a href="https://github.com/MaxPress1/portfoliators-team.git"
            >GitHub</a
          >
        </li>
      </ul>
    </div>

    <div class="footer-copy">
      <p>© Copyright 2024. Made by LloydJefferson</p>
    </div>
  </div>
</footer>
