<footer>
  <hr />
  <div class="container">
    <div class="footer">
      <div class="footer-logo">
        <strong class="logo-bold">LLOYD</strong
        ><span class="logo-green">JEFFERSON</span
        ><span class="logo-dot">.</span>
      </div>

      <ul class="footer-social">
        <li>
          <a
            href="https://www.instagram.com/goitclub/"
            target="_blank"
            class="footer-social-item"
            >Instagram</a
          >
        </li>
        <li class="footer-social-item">
          <a
            href="https://www.facebook.com/goITclub/"
            target="_blank"
            class="footer-social-item"
            >Facebook</a
          >
        </li>
        <li class="footer-social-item">
          <a
            href="https://www.linkedin.com/school/goit-start-your-career-in-it"
            target="_blank"
            class="footer-social-item"
            >Linkedin</a
          >
        </li>
        <li class="footer-social-item">
          <a
            href="https://github.com/MaxPress1/portfoliators-team.git"
            target="_blank"
            class="footer-social-item"
            >GitHub</a
          >
        </li>
      </ul>
    </div>

    <div class="footer-copy">
      <p>© Copyright 2024. Made by LloydJefferson</p>
    </div>
  </div>
</footer>
