<header class="header">
  <div class="container header-container">
    <a href="../index.html" class="header-logo"
      >Lloyd<span class="logo-accent">Jefferson.</span></a
    >
    <div class="header-nav">
      <label class="theme-toggle">
        <input type="checkbox" id="theme-toggle-checkbox" />
        <span class="toggle-slider"></span>
      </label>
      <ul class="header-nav-list">
        <li class="header-nav-list-item">About me</li>
        <li class="header-nav-list-item">Projects</li>
        <li class="header-nav-list-item">Contacts</li>
      </ul>
    </div>
    <button
      class="burger-btn js-open-menu"
      aria-expanded="false"
      aria-controls="mobile-menu"
    >
      <img
        src="../img/Vector.png"
        alt="Кнопка мобільного меню"
        width="32"
        height="32"
        class="burger-btn-styles"
      />
    </button>
  </div>
</header>
