<section class="hero">
  <div class="container hero-container">
    <h1 class="hero-title">
      HELLO, I AM
      <span
        ><img
          class="hero-image hidden-img visabiliti"
          src="/img/hero/hero.webp"
          alt="developer"
          width="108"
          height="108"
      /></span>
      <span class="highlight">FULLSTACK DEVELOPER</span>
    </h1>

    <div class="hero-order-descriptional">
      <div class="order-section">
        <svg class="icon-order" width="28" height="28">
          <use href="/img/icon.svg#icon-Arrow-long"></use>
        </svg>
        <a href="#together-section" class="order-link">
          <p>order the project</p>
        </a>
        <div class="order-background"></div>
      </div>

      <p class="hero-description">
        I WORK WITH PEOPLE ALL OVER THE WORLD TO CREATE
        <span class="text-green">IMPRESSIVE</span> AND
        <span class="text-green">FUNCTIONAL WEBSITES</span> THAT REFLECT EACH
        CLIENT'S UNIQUE PERSONALITY.
      </p>
    </div>
  </div>
  <div class="hero-container-social">
    <ul class="hero-socials">
      <li>
        <a
          href="https://www.instagram.com/goitclub/"
          class="hero-social-item"
          target="_blank"
          rel="noopener noreferrer"
          >Instagram</a
        >
      </li>
      <li>
        <a
          href="https://www.facebook.com/goITclub/"
          class="hero-social-item"
          target="_blank"
          rel="noopener noreferrer"
          >Facebook</a
        >
      </li>
      <li>
        <a
          href="https://www.linkedin.com/school/goit-start-your-career-in-it"
          class="hero-social-item"
          target="_blank"
          rel="noopener noreferrer"
          >Linkedin</a
        >
      </li>
      <li>
        <a
          href="https://github.com/MaxPress1/portfoliators-team.git"
          class="hero-social-item"
          target="_blank"
          rel="noopener noreferrer"
          >GitHub</a
        >
      </li>
    </ul>
  </div>
</section>
