footer {
  background-color: inherit;
  padding-bottom: 24px;
  font-family: 'Poppins', sans-serif;
}

hr {
    border: 1px solid var(--background-color);
    width: 100%;
    margin-top: 0;
    margin-bottom: 32px;
}


.footer-logo {
    font-family: 'Impact', sans-serif;
    line-height: 100%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-size: 32px;
    margin-bottom: 32px;
}

.logo-bold {
  color: var(--text-color);
}

.logo-green {
  color: #00b068;
}

.logo-dot {
  color: var(--text-color);
}

.footer-social {
    
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  flex: 2;
  gap: 24px;
  margin-bottom: 40px;
}

.footer-social li a {
  text-decoration: none;
  color: var(--text-color);
  transition: color 0.3s;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  font-weight: 300;
}

.footer-social li a:hover {
  color: #00B068;
}

.footer-copy {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  font-weight: 300;
  text-align: center;
  display: flex;
  justify-content: center;
}

.footer-copy p {
    max-width: 200px;
}


@media screen and (min-width: 768px) {
  .footer-social {
    flex-direction: row;
    gap: 40px;
  }

  .footer-copy {
    justify-content: flex-end;
  }

  .footer-copy p {
    max-width: 500px;
}
}

@media screen and (min-width: 1280px) {
    .footer {
        display: flex;
        align-items: center;
    }
    .footer-logo {
        margin-right: 569px;
        margin-bottom: 44px;
    }
}
