/* Мобільна версія (mobile-first) */

html,
body {
  overflow-x: hidden;
}

.tech-skills {
  padding-bottom: 80px;
  position: relative;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
}

.marquee-wrapper {
  overflow: hidden;
  padding: 30px 0;
  position: relative;
}

.marquee-wrapper.top {
  background-color: #bcdfd1;
  z-index: 2;
}

.marquee-wrapper.bottom {
  background-color: #e4e5e6;
  transform: rotate(2deg);
  z-index: 1;
}

.marquee {
  display: inline-flex;
  align-items: center;
  gap: 24px;
  font-size: 36px;
  line-height: 1.4;
  font-weight: 500;
  font-weight: 500;
  font-size: 32px;
  letter-spacing: 0.5px;

  white-space: nowrap;
  animation-duration: 15s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  padding: 0;
  margin: 0;
  list-style: none;
  text-transform: uppercase;
  min-width: 100%;
}

.marquee-top {
  color: #292929;
  animation-name: scroll-left-right;
}

.marquee-bottom {
  color: #4caf50;
  animation-name: scroll-right-left;
}

.marquee li {
  font-family: 'Poppins', sans-serif;
  position: relative;
  padding-right: 30px;
}

/* Квадратики між словами */
.marquee-top li:not(:last-child)::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 8px;
  height: 8px;
  background-color: #4caf50;
  border-radius: 2px;
}

.marquee-bottom li:not(:last-child)::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 8px;
  height: 8px;
  background-color: #292929;
  border-radius: 2px;
}

/* Анімація */
@keyframes scroll-left-right {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes scroll-right-left {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}

/* Dark theme */
body.dark-theme {
  background-color: #1a1a1a;
  color: #f0f0f0;
}

body.dark-theme .marquee-wrapper.top {
  background-color: #204136;
}

body.dark-theme .marquee-top {
  color: #f0f0f0;
}

body.dark-theme .marquee-top li:not(:last-child)::after {
  background-color: #14c57c;
}

body.dark-theme .marquee-wrapper.bottom {
  background-color: #2a2d32;
}

body.dark-theme .marquee-bottom {
  color: #14c57c;
}

body.dark-theme .marquee-bottom li:not(:last-child)::after {
  background-color: #f0f0f0;
}

/* Tablet */
@media (min-width: 768px) {
  .tech-skills {
    padding-bottom: 120px;
  }
  .marquee {
    font-size: 36px;
  }

  .marquee-wrapper {
    padding: 40px 0;
  }
}

/* Desktop */
@media (min-width: 1280px) {
  .tech-skills {
    padding-bottom: 160px;
  }
}
